.App {
  font-size: 16px;
}


.Navbar {
  width: 100%;
  height: 10%;
  display: flex;
  box-shadow: 0 4px 4px -2px rgb(184, 183, 183);
}

.Navbar h1 {
  position: relative;
  left: 5%;
}

.Main-home-section {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.Home-outer-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.Home-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  align-items:center;
  justify-content: space-evenly;
  justify-self: center;
}

.Card-container {
  box-shadow: 0 4px 4px -2px rgb(184, 183, 183);
  border-radius: 10px;
  height: 24rem;
  width: 17rem;
  background-color: whitesmoke;
}

.Card-container img {
  width: 17rem;
  height: 12rem;
  border-radius: 10px 10px 0 0;
}



/* Country Side Page Section */

.Country-section {
  height: 80%;
  width: 90%;
}

.Country-section-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 5%;
  height: 40%;
  width: 100%;
}

.Country-section-container img {
  grid-column: 1 / 1;
  height: 100%;
  width: 100%;
}

.Country-section-container-inner {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  align-items: start;
  justify-items: start;
  line-height: 1.6rem;
}

.Country-section-container-inner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Country-section-container-inner span {
  font-weight: bold;
}

.Country-section-container-inner-leftlist {
  grid-area: 2 / 1 / span 1 / 1;
}

.Country-section-container-inner-rightlist {
  grid-area: 2 / 2 / span 1 / span 1;
}

.Country-section-container-inner-bottom {
  grid-area: 3 / 1 / span 1 / span 2;
  display: flex;
}

.Country-section-container-inner-bottom button {
  background-color: white;
  padding: 0.2rem 1rem;
  color: gray;
  border: 0.15rem groove rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
  margin-left: 0.3rem;
}

.Country-section-container-inner-bottom button:hover {
  border: 0.15rem groove rgba(0, 0, 0, 0.4);
  color: black;
}